<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'univalle_app/css/styles.css' %}">

    <title>Univalle - Préstamos Deportivos</title>
    <!-- Incorporando Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home' %}">Univalle Préstamos Deportivos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'univalluno-list' %}">Univalluno</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'articulo-list' %}">Artículos deportivos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'prestamo-list' %}">Préstamos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'multa-list' %}">Multas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reporte-deporte' %}">Reporte por Deporte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reporte-dia' %}">Reporte por Día</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'multas_por_dia' %}">Multas por Día</a>
            </li>
        </ul>
    </div>
</nav>
    
    <!-- Contenido principal -->
    <div class="container mt-5">
        {% block content %}
        <h1>Bienvenido a Univalle Préstamos Deportivos</h1>
        {% endblock %}    
    </div>
    
    
    
    <!-- Scripts para Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </body>
    <!-- Pie de página  
    <footer class="text-center mt-5">
        <p>© 2023 Univalle - Préstamos Deportivos</p>
    </footer>-->
</html>
