{% extends "base.html" %}

{% block content %}
    <h2>Reporte de Artículos Prestados</h2>

    <!-- Un formulario para seleccionar las fechas para los gráficos-->
    <form method="get" action="{% url 'reporte-deporte' %}">
        Fecha inicio: <input type="date" name="inicio_fecha" required>
        Fecha fin: <input type="date" name="fin_fecha" required>
        <input type="submit" value="Generar Reporte">
    </form>

    <div class="row mt-4">
        <!-- Columna para la tabla -->
        <div class="col-md-6">
            <h3>Artículos prestados por Deporte</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Deporte</th>
                        <th>Cantidad Prestada</th>
                    </tr>
                </thead>
                <tbody id="tablaDeporte">
                    {% for item in prestados %}
                    <tr>
                        <td>{{ item.prestados }}</td>
                        <td>{{ item.deportes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Columna para el gráfico -->
        <div class="col-md-6">
            <h3>Gráfico de Artículos por Deporte</h3>
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
    </div>

    <!-- Script para dibujar el gráfico y llenar la tabla -->
    <script>
        const inicioFecha = new URLSearchParams(window.location.search).get('inicio_fecha');
        const finFecha = new URLSearchParams(window.location.search).get('fin_fecha');
        const tbody = document.getElementById('tablaDeporte');

        if (inicioFecha && finFecha) {
            fetch(`/reporte-deporte/?inicio_fecha=${inicioFecha}&fin_fecha=${finFecha}`)
                .then(response => response.json())
                .then(data => {
                    // Llenar la tabla
                    tbody.innerHTML = '';  // Se limpia el contenido actual de la tabla
                    for (let deporte in data) {
                        // Para cada deporte y cantidad, se crea una fila y se agrega al tbody
                        tbody.innerHTML += `<tr><td>${deporte}</td><td>${data[deporte]}</td></tr>`;
                    }
                    // Dibujar el gráfico
                    const ctx = document.getElementById('myChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Object.keys(data),
                            datasets: [{
                                label: 'Artículos prestados por deporte',
                                data: Object.values(data),
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                });
        }
    </script>
{% endblock %}
